<% devices.forEach(device=> { %>
    <div class="device-item <%= device.status ? 'device-item-active' : '' %>" data-item="light"
        data-id="<%= device.id %>" data-type="<%= device.type %>">
        <div class="top-action">
            <div class="icon-background">
                <span class="material-icons-outlined">
                    <%= device.type == 'led' ? 'light' : '' %>bulb
                </span>
            </div>
            <label class="toggle-control">
                <input type="checkbox" <%=device.status ? 'checked' : '' %>>
                <span class="control"></span>
            </label>
        </div>
        <div class="bottom-info">
            <div class="bottom-info-device-name">
                <input type="text" value="<%= device.name %>" disabled>
            </div>
            <div class="bottom-info-edit">
                <button class="bottom-info-edit-btn">
                    <span class="material-icons-outlined">more_horiz</span>
                </button>
                <ul class="dropdown-menu-edit">
                    <li data-id="<%= device.id %>" data-type="edit"><span class="material-icons-outlined">edit</span>Edit</li>
                    <li data-id="<%= device.id %>" data-type="delete"><span class="material-icons-outlined">delete</span>Delete</li>
                </ul>
            </div>
        </div>
    </div>
<% }) %>
    <div class="device-item" data-item="add" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span class="material-icons-outlined">add</span>
    </div>