<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/headTag'); %> 
</head>

<body>
  <div class="body-container">
    <div class="wrapper">

      <%- include('../partials/sidebar'); %> 
      <div class="main-container">
        <div class="main-feed">
          <div class="message-area">
            <div class="dropdown">
              <button class="material-icons-outlined dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">message</button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <h6 class="dropdown-header">Today</h6>
                </li>
                <li><span class="dropdown-item">
                    <!-- <span class="material-icons-outlined">
                      lightbulb
                    </span> -->
                    <div class="message-item">
                      <p>Đèn 2 mở trên 5h</p>
                      <p>Garage</p>
                    </div>
                  </span></li>
                  <hr>
                <li><span class="dropdown-item">
                    <!-- <span class="material-icons-outlined">
                      lightbulb
                    </span> -->
                    <div class="message-item">
                      <p>Đèn 1 cần bảo trì</p>
                      <p>Kitchen</p>
                    </div>
                  </span></li>
                <hr>
                <li>
                  <h6 class="dropdown-header">Yesterday</h6>
                </li>
                <li><span class="dropdown-item"></span></li>
              </ul>
            </div>
          </div>
          <div class="avatar-container">
            <div class="avatar">
              <img src="./assets/images/avatar.jpg" alt="">
            </div>
            <div class="avatar-name">
              <p class="account-name"><%= session.user ? session.user.name : '' %></p>
              <div class="account-address">
                <span class="material-icons-outlined">location_on</span>
                <p>3, Wald street, 9 District, Ho Chi Minh city, Vietnam</p>
              </div>
            </div>
          </div>
          <div class="feed">
            <p>Good moring, baby😍</p>
            <p>Have a nice day</p>
          </div>
        </div>
        <div id="root">
          <%- body %> 
        </div>
      </div>
    </div>
  </div>


  <%- include('../partials/scriptTag'); %> 
</body>

</html>