<div class="add-new-device-and-choose-room">
  <button class="my-btn add-device-btn" data-bs-toggle="modal" data-bs-target="#exampleModal2"><span
      class="material-icons">
      add_circle
    </span>
    New room</button>
  <div class="select-room-dropdown">
    <select id="select-room-dropdown-menu">
      <% rooms.forEach(room=> { %>
        <option <%=(room.id===currentRoomId) ? 'selected' : '' %> value="<%=room.name %>"><%= room.name %>
        </option>
        <% }) %>
    </select>
  </div>
</div>
<div class="main-control-container">
  <div class="main-control grid-col-span-2">
    <div class="toggle-switch-container">
      <div class="device-title">
        <div class="icon-background">
          <span class="material-icons-outlined">lightbulb</span>
        </div>
        <p>Đèn dài</p>
      </div>
      <div class="toggle-switch">
        <label class="toggle-control main-toggle-control">
          <input type="checkbox" checked="checked">
          <span class="control main-toggle"></span>
        </label>
      </div>
    </div>
    <div class="control-area">
      <span class="material-icons-outlined">light_mode</span>
      <div class="range-background">
        <!-- <div class="slider" data-after="30%"></div> -->
        <input type="range" class="slider" value="30" min="0" max="100">
      </div>

      <span class="material-icons">light_mode</span>
    </div>
  </div>
  <div class="temp-container">
    <p>Temperature</p>
    <p>
      <%= temp %><span>o</span> C
    </p>
    <i class="fa-solid fa-temperature-high"></i>
  </div>
  <div class="humidity-container">
    <p>Humidity</p>
    <p>
      <%= humi %>%
    </p>
    <i class="fa-solid fa-droplet"></i>
  </div>
</div>
<div class="device-list-container">
  <%- include('./partials/devices.ejs'); %> 
</div>